<h1>Recent Gif Posts</h1>

<div id="share-section">
  <div class="button-area">
    <button id="toggle-post-dialog" class="share-button">
      Submit a Gif
    </button>
  </div>
</div>

<div id="gif-post-dialog" class="share-dialog area" style="display:none;">
  <span>Share a gif</span>
  <div class="share-gif-form">
    <textarea id="new-gif-body" name="new-gif-post" placeholder="Gif link with your message here"></textarea>
    <button class="gif-submit" type="submit" href="<%= gif_posts_path %>">
      Send
    </button>
    <button class="cancel-post">
      Cancel
    </button>
  </div>
</div>

<br><br>

<table class="gif-list">
  <thead>
    <tr>
      <th>User</th>
      <th>Url</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gif_posts.each do |gif_post| %>
      <tr>
        <td><%= gif_post.user.username %></td>
        <td><%= image_tag(gif_post.url) %></td>
        <td><%= gif_post.body %></td>
        <td><%= link_to 'Show', gif_post %></td>
        <td><%= link_to 'Edit', edit_gif_post_path(gif_post) %></td>
        <td><%= link_to 'Destroy', gif_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
