<div {{bind-attr class=":gif-list-filter displayFilter"}}>
  Show:
  <a class="filter-all" href="" {{action "applyFilter" null}}>All</a>
  <a class="filter-faved" href="" {{action "applyFilter" "faved"}}>Favorites</a>
</div>
{{#each sortedPosts}}
  <article class="gif-entry" data-gif-entry >
    <div class="gif-entry-fav">
      <span class="gif-entry-fav-count">
        {{favorites.length}}
      </span>
      <a class="gif-entry-fav-link" {{action "toggleFav" this}}>
        <i {{bind-attr class="isFavorited :fav-star"}}></i>
      </a>
    </div>
    <div class="gif-entry-image">
      <img class="framed" {{bind-attr src=parsedUrl}}>
    </div>
    <div class="gif-entry-body">
      {{body}}
    </div>
    <div class="gif-entry-delete">
      <a class="btn btn-danger" data-gif-delete {{action "delete" this}}  rel="nofollow">
        Delete
      </a>
    </div>
    <div class="gif-entry-user">
      Shared by {{username}}
    </div>
    <div class="gif-entry-permalink">
      <a {{bind-attr href=permalink}}>
        Permalink
      </a>
    </div>
    <div style="clear:both;"></div>
  </article>
{{/each}}
